.container {
  padding-top: 20px;
  display: grid;
  place-items: center;
}

.chartContainer {
padding-top: 100px;
  /* width:880px; */
  /* margin-top: 50px; */
  width: 100%;
  /* max-width: 100%; */
  /* min-width: 400px; */
  /* margin: 0 auto; */
 height: 100%;
}


.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: auto;
  /* margin-bottom: -50px; */
}