.eventStudContainer {
  /* max-width: 400px; */
  margin: 0 auto;
}

.tableContainer {
  height: 900px; /* Задайте фиксированную высоту для контейнера таблицы */
  overflow-y: auto;  
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #ac9999;
}


.statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  grid-template-rows: auto auto;         /* Две строки */
  gap: 10px;                             /* Отступы между элементами */
}

.statisticItem:nth-child(1) {
  grid-column: 1 / span 3; /* Первый элемент занимает все три колонки */
}

.statisticItem {
  /* background-color: #f0f0f0;
  padding: 20px; */
  border-radius: 8px;
  text-align: center;
}

.statisticItem h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.statisticItem h3 {
  margin: 0;
  font-size: 14px;

}
th, td {
  padding: 5px; /* Увеличим отступы */
  text-align: left;
  border-bottom: 1px solid #ddd; /* Граница между строками */
}
th {
  background-color: #607D8B; /* Зеленый фон для заголовков */
  color: white; /* Белый цвет текста заголовков */
  font-weight: bold; /* Жирный шрифт для заголовков */
}

tbody tr {
  transition: background-color 0.2s; /* Плавный переход для фона строк */
}

/* Адаптация для планшетов с разрешением 768px */
@media screen and (max-width: 768px) {
  .eventStudContainer {
    width: 100%;
    padding: 10px; /* Добавляем отступы */
  }

  .statistics {
    grid-template-columns: repeat(2, 1fr); /* Две колонки вместо трех */
    grid-template-rows: auto auto auto;    /* Три строки для элементов */
    gap: 8px;                              /* Немного уменьшаем отступы */
  }

  .statisticItem:nth-child(1) {
    grid-column: 1 / span 2; /* Первый элемент занимает две колонки */
  }

  .tableContainer {
    height: 400px; /* Уменьшаем высоту для планшетов */
    overflow-y: auto; /* Сохраняем скроллинг, но с меньшей высотой */
    scrollbar-width: thin;
    scrollbar-color: #888 #f4f4f4;
  }

  table {
    font-size: 12px; /* Уменьшаем размер шрифта для планшетов */
  }

  th, td {
    padding: 3px; /* Уменьшаем отступы внутри ячеек */
  }

  .statisticItem h2 {
    font-size: 16px; /* Уменьшаем заголовок в статистике */
  }

  .statisticItem h3 {
    font-size: 12px; /* Уменьшаем размер текста статистики */
  }
}
